/* Centralizar o cabeçalho */
header {
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 20px; /* Espaçamento entre os itens do menu */
}

/* Centralizar o conteúdo */
.conteudo {
    text-align: center;
    margin-top: 20px; /* Espaçamento superior para afastar o conteúdo do cabeçalho */
}

/* Centralizar o botão de contato */
.botao-contato {
    display: inline-block;
    padding: 10px 20px; /* Ajuste o espaçamento conforme necessário */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none;
    border-radius: 5px; /* Borda arredondada */
}

/* Estilizar o menu */
.menu li a {
    text-decoration: none;
    color: #333; /* Cor do texto dos links do menu */
    font-weight: bold; /* Negrito nos links do menu */
    font-size: 16px; /* Tamanho da fonte dos links do menu */
}

.menu li a:hover {
    color: #007bff; /* Cor do texto dos links do menu ao passar o mouse */
}
