
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

 
header {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(91, 42, 226);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #070403; 
}

.card {
    background-color: #050505f5;
    padding: 50px;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 1px;
}

.titulo{
    color: rgb(240, 239, 239);
}

.subtitulo{
  color: #ffffff;
}

.purple-1{
    background-color: #000000; 
    color: white;
    padding: 40px;
    text-align: center
}

.purple-2{
  background-color: #8A2BE2; 
    color: white;
    padding:40px;
    text-align: center;
    margin-top: 30px;
}

.purple-3{
  background-color: #070403;
   color: white;
    padding:40px;
    text-align: center;
    margin-top: 30px;

}

.purple-4{
  background-color: #8A2BE2;
   color: white;
    padding:40px;
    text-align: center;
    margin-top: 30px;
}

.botao-cta{ 
  padding: 20px;
  border-radius: 10px;
  background-color: #8A2BE2;
  color: aliceblue;
  font-size: 20px;
  margin-top: 20px;

}

.botao-cta:hover{
  background-color: #3b1550;
}
