/* Reset de estilos para remover margens e preenchimentos padrão do navegador */
body, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilo para a barra de navegação */
header {
    background-color: #333; /* Cor de fundo da barra de navegação */
    position: fixed; /* Fixa a barra no topo da página */
    width: 100%; /* Largura total */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaçamento interno */
    z-index: 1000; /* Certifica-se de que a barra de navegação fica em cima de outros elementos */
}

/* Estilo para o logotipo */
.logo img {
    width: 100px; /* Largura do logotipo */
    height: auto; /* Altura ajustável para manter a proporção */
}

/* Estilo para a lista de navegação */
nav ul {
    list-style-type: none; /* Remove marcadores de lista */
}

nav ul li {
    display: inline; /* Exibe os itens de navegação em linha horizontalmente */
    margin-right: 20px; /* Espaçamento entre os itens de navegação */
}

nav ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    font-weight: bold; /* Deixa o texto em negrito */
}

/* Estilo para a seção de conteúdo */
.conteudo {
    padding: 60px 20px; /* Espaçamento interno da seção de conteúdo */
    margin-top: 80px; /* Espaço para a barra de navegação fixa */
    text-align: center;
}

.conteudo h1 {
    font-size: 36px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.conteudo p {
    font-size: 18px; /* Tamanho do texto */
    margin-bottom: 30px; /* Espaçamento abaixo do texto */
}

/* Estilo para o botão de contato */
.botao-contato {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold;
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

.botao-contato:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão */
}
